
@{
    ViewBag.Title = "AddMovie";
}

<h2>Add New Movie</h2>

<form action="~/Database/SaveNewMovie" method="post">
    <input type="hidden" name="MovieID" />
    <input type="text" name="MovieTitle" required placeholder="Movie Title"/>
    <input type="text" name="Genre" required placeholder="Genre" />
    <input type="text" name="Year" required placeholder="Year"/>

    <input type="radio" name="Watched" id="Yes" value="Yes" checked required/>
    <label for="Yes">Watched</label>
    <input type="radio" name="Watched" id="No" value="No" />
    <label for="No">Not Watched</label>

    <input type="submit" class="btn-info" />

</form>

