
@{
    ViewBag.Title = "Login";
}

<h2>User Login</h2>

<form action="~/Identity/Login" method="post">
    UserName<input type="text" name="UserName" value="" /><br /><br />
    Password<input type="password" name="Password" /><br /><br />
   <input type="submit" class="btn-default" />
</form>

